@using Microsoft.AspNetCore.Identity
@model IdentityUser;

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    <h4>Roles</h4>
    <hr />
    <ul class="list-group">
        @if(ViewBag.Roles.Count == 0){
            <li class="list-group-item">User does not have roles</li>
        }
        else 
        {
            foreach(var item in ViewBag.Roles)
            {
                <li class="list-group-item">@item</li>
            }
        }
    </ul>
</div>

<br>
<hr />
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Manage roles</a> |
    <a asp-action="Index">Back to List</a>
</div>
