@using Microsoft.AspNetCore.Identity
@using IronHasura.Models
@model List<UserRoleViewModel>;

@{
    IList<IdentityRole> roles = ViewBag.Roles;
    IList<string> userRoles = ViewBag.UserRoles;
    
}

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Username
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.User.UserName
        </dd>
        <dt class = "col-sm-2">
            Email
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.User.Email
        </dd>
    </dl>

    <h4>Roles</h4>
    <hr />

    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @for(int i = 0; i < Model.Count; i++)
        {
            <div class="form-check">
                <input type="hidden" asp-for="@Model[i].RoleId">
                <input type="hidden" asp-for="@Model[i].RoleName">
                <input asp-for="@Model[i].IsSelected">
                <label asp-for="@Model[i].IsSelected">
                    @Model[i].RoleName
                </label>
            </div>
        }

        <br>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
</div>

<br>
<hr />
<div>
    <a asp-action="Index">Back to List</a>
</div>
