@attribute [AllowAnonymous]
@page "/"
@using BlazorTypewriter

<MudText Typo="Typo.h2" Color="Color.Primary" Align="Align.Center">MICROSCOPE</MudText>
<MudText Typo="Typo.h5" Align="Align.Center">Multi cloud backend as a service</MudText>
<MudText Typo="Typo.h6" Align="Align.Center" Class="mt-5">
  <Typewriter Builder="@typewriter" />
</MudText>

<MudGrid  Class="mt-4">
  <MudItem xs="12" sm="6" md="2">
    <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
      <MudIcon Icon="@Icons.Material.Filled.Science" Color="Color.Primary" Class="mx-4"
        Style="width:54px; height:54px;"></MudIcon>
      <div>
        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Lab</MudText>
      </div>
    </MudPaper>
  </MudItem>
  <MudItem xs="12" sm="6" md="2">
    <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
      <MudIcon Icon="@Icons.Material.Filled.Storage" Color="Color.Primary" Class="mx-4"
        Style="width:54px; height:54px;"></MudIcon>
      <div>
        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Data</MudText>
      </div>
    </MudPaper>
  </MudItem>
  <MudItem xs="12" sm="6" md="2">
    <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
      <MudIcon Icon="@Icons.Material.Filled.AdminPanelSettings" Color="Color.Primary" Class="mx-4"
        Style="width:54px; height:54px;"></MudIcon>
      <div>
        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">IAM</MudText>
      </div>
    </MudPaper>
  </MudItem>
  <MudItem xs="12" sm="6" md="2">
    <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
      <MudIcon Icon="@Icons.Material.Filled.CloudUpload" Color="Color.Primary" Class="mx-4"
        Style="width:54px; height:54px;"></MudIcon>
      <div>
        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Storage</MudText>
      </div>
    </MudPaper>
  </MudItem>
  <MudItem xs="12" sm="6" md="2">
    <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
      <MudIcon Icon="@Icons.Material.Filled.Analytics" Color="Color.Primary" Class="mx-4"
        Style="width:54px; height:54px;"></MudIcon>
      <div>
        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Analytics</MudText>
      </div>
    </MudPaper>
  </MudItem>
  <MudItem xs="12" sm="6" md="2">
    <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
      <MudIcon Icon="@Icons.Material.Filled.Settings" Color="Color.Primary" Class="mx-4"
        Style="width:54px; height:54px;"></MudIcon>
      <div>
        <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">Remote Config</MudText>
      </div>
    </MudPaper>
  </MudItem>
</MudGrid>

@code
{
  private TypewriterBuilder typewriter { get; set; } = new TypewriterBuilder(defaultCharacterPause: 6)
    .TypeString("Manage storage")
    .Pause(2000)
    .Delete(7)
    .TypeString("API", 50)
    .Pause(2000)
    .Delete(3)
    .TypeString("Database", 20)
    .Pause(2000)
    .Delete(8)
    .TypeString("Remote config", 20)
    .Pause(2000)
    .Delete(13)
    .TypeString("Analytics", 20)
    .DeleteAll()
    .Loop();
}
